node_modules
.next
.turbo
coverage
dist
build
**/*.test.tsx
**/*.test.ts
**/*.spec.tsx
**/*.spec.ts
vitest.config.ts
vitest.setup.ts
.git
.github
.gitignore
.env*
!.env.example
README.md
*.log
.DS_Store